# dependencies
node_modules
.pnp
.pnp.js

# testing
/coverage

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode

# scripts
connect*
run*
*sql

# production
/build
auth_client.json
constants.js

*.aws*
__pycache__*
.travis*
.DS_Store
.env*
Pip*
*extensions
