[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-cors = "*"
marshmallow = "*"
pylint = "*"
pymongo = {extras = ["srv"],version = "*"}
python-dotenv = "*"
stringcase = "*"
pprint = "*"
werkzeug = "*"

[requires]
python_version = "3.7"
